* {
  /* 為了要自己設定這些參數 */
  padding: 0;
  margin: 0;
  /* 為了要能夠自己設定box長寬 */
  box-sizing: border-box;
  font-family: DFkai-sb, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* 這樣就不會預設是粗體字 */
  font-weight: normal;
}

header div.top {
  padding: 1rem;
  background-image: url(./image/background.png);
}

header div.top h1 {
  font-size: 2.5rem;
}

header div.top h3 {
  font-size: 1rem;
}

header nav {
  background-color: black;
}

header nav ul {
  display: flex;
  /* 將黑色圓點去掉 */
  list-style-type: none;
}

header nav ul li {
  /* 設定上下左右 */
  padding: 0.8rem 1.2rem;
}

nav ul li a {
  color: white;
  /* 將橫線去掉 */
  text-decoration: none;
  font-size: 1.25rem;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  color: yellow;
}

.active {
  color: yellow;
}

main {
  display: flex;
  flex-wrap: wrap;
}

main.no-flex {
  /* 將這邊轉成塊狀的 才不會用hr時出現前面main的設定 */
  display: block;
}

main section {
  padding: 1rem;
}

section.left {
  flex: 1 1 200px;
}

/* 會是section.left 寬度的90% */
section.left img {
  width: 90%;
}

section.left h3 {
  margin-bottom: 1rem;
}

section.left table {
  margin-top: 1rem;
}

section.left table,
td {
  padding: 0.25rem;
}

section.right {
  flex: 4 1 500px;
}

section.right h3 {
  font-size: 1.5rem;
  padding-top: 0.5rem;
}

p {
  padding: 0.5rem 0rem;
}

section.right ul {
  margin-left: 2rem;
}

.player {
  margin: 2rem;
  border: 3px solid burlywood;
  padding: 0.5rem;
}

.player h4 {
  font-size: 1.5rem;
  color: rgb(0, 90, 91);
}

.player h5 {
  font-size: 1.05rem;
  color: rgb(6, 120, 120);
}

div.japan {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

div.japan div.image {
  flex: 1 1 300px;
  display: flex;
  /* 為了將圖片移到中央 */
  align-items: center;
}

div.japan div.image img {
  width: 100%;
}

div.japan div.info {
  flex: 3 1 600px;
  padding: 2rem;
}

div.competition {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

div.competition div.text {
  flex: 5 1 300px;
  padding: 1rem;
}

div.competition div.text h3 {
  font-size: 2rem;
  color: rgb(12, 122, 92);
}
#piechart {
  flex: 1 1 300px;
}

section.china h3 {
  font-size: 2rem;
  color: rgb(12, 122, 92);
}

.china table,
.china th,
.china td {
  border: 1px solid white;
  border-collapse: collapse;
  padding: 2px 4px;
}

.china table {
  min-width: 1000px;
}

.china th {
  background-color: rgb(86, 224, 192);
  color: white;
}

section.taiwan h3 {
  font-size: 2rem;
  color: rgb(12, 122, 92);
}

.taiwan ul {
  margin-left: 2rem;
}

/* 設定說如果螢幕長度變小到600px會發生什麼事情 */
@media screen and (max-width: 600px) {
  header nav ul {
    flex-direction: column;
  }
}
